.event-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(225, 215, 215, 0.2);
    cursor: pointer;
}

.dark-modal .modal-content {
    color: #fff; 
}

.dark-modal .modal-header {
    color: #fff; 
}

.dark-modal .modal-footer {
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.ml-auto {
    margin-left: auto;
}