.App {
  background-color: #181f28;
  color: white;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 2vh 2vh;
  align-items: center;
}

.padded {
  padding: 16px;
}

.App-header {
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #5dbfe8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.horizontal-container {
  display: flex; 
  flex-direction: row; 
}

.horizontal-item {
  margin-right: 10px;
}
